main {
  background-color: rgba(244, 243, 240, 1);
  display: flex;
  gap: 10vw;
  padding: 100px 136px;

  .main-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: rgba(58, 95, 86, 1);
    h2 {
      font-size: 48px;
      padding-bottom: 11px;
    }
    p {
      padding-bottom: 27px;
    }
    button {
      background-color: rgba(58, 95, 86, 1);
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      color: white;
    }
  }
}
@media (max-width: 2900px) {
  main {
    background-color: rgba(244, 243, 240, 1);
    display: flex;
    gap: 1vw;
    // padding: 100px 136px;

    .main-title {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      color: rgba(58, 95, 86, 1);
      h2 {
        width: 25vw;
        font-size: 48px;
        padding-bottom: 11px;
      }
      p {
        width: 25vw;
        padding-bottom: 27px;
      }
      button {
        background-color: rgba(58, 95, 86, 1);
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        color: white;
      }
    }
  }
}
@media (max-width: 2430px) {
  main {
    background-color: rgba(244, 243, 240, 1);
    display: flex;
    gap: 1vw;
    // padding: 100px 136px;

    .main-title {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      color: rgba(58, 95, 86, 1);
      h2 {
        width: 20vw;
        font-size: 48px;
        padding-bottom: 11px;
      }
      p {
        width: 20vw;
        padding-bottom: 27px;
      }
    }
  }
}
@media (max-width: 2430px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-title {
      text-align: center;
    }
    img {
      width: 40%;
    }
  }
}
